body {
	user-select: none;
}

:root {
	--aside_height: 0;
	--overflow_menu_margin: 0px;
	--description_height: unset;
	--aside_padding: unset;

	--cover_size: 190px;
	--play_button_size:  60px;
	--play_button_right: 16px;
	--play_button_top: 114px;
	--info_button_top: 81px;
	--watch_list_top: 134px;
	--buttons_left: 9px;
}

/* ####################################################################### */
/* Episode list */
main {
	max-width: 1140px;
	margin: 20px auto;
}

ol {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
}

ol div {
	width: var(--cover_size);
	position: relative;
	margin: 12px;
}

ol a {
	display: block;
}

ol img {
	display: block;
	width: var(--cover_size);
	height: var(--cover_size);
	border-radius: 5px;
	transition: opacity 0.2s;
}

ol a:hover img {
	opacity: 60%;
}

ol p {
	margin: 0;
	margin-top: 5px;
}

ol span {
	font-weight: bold;
}

.not_found {
	display: none;
	text-align: center;
}

.show_history.show_not_found #no_history,
.show_watch_list.show_not_found #no_watch_list,
.show_ignore_list.show_not_found #no_ignore_list {
	display: block !important;
}

.hide_search, .not_aviable {
	display: none !important;
}

.show_history .no_history,
.show_watch_list div:not(.in_watch_list),
.show_ignore_list div:not(.in_ignore_list) {
	display: none;
}

ol.hide_episode_title p {
	display: none;
}

ol.hide_episode_title div {
	margin: 8px;
	margin-bottom: 4px;
}

/* ####################################################################### */
/* On cover buttons */
.control_button {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 100%;
	transition: transform 0.2s;
	width: 40px;
	height: 40px;
	padding: 10px;;
}

.control_button:hover {
	background-color: rgba(0, 0, 0, 0.6);
	transform: scale(1.2);
}

ol .play {
	cursor: pointer;
	width: var(--play_button_size);
	height: var(--play_button_size);
	padding: calc(var(--play_button_size) / 4);
	top: var(--play_button_top);
	right: var(--play_button_right);
}
ol .add, ol .remove {
	top: var(--watch_list_top);
	left: var(--buttons_left);
}
ol .info {
	top: var(--info_button_top);
	left: var(--buttons_left);
}

ol div:hover .play,
ol div:hover .info,
ol div:not(.in_watch_list):hover .add,
ol div.in_watch_list:hover .remove,
#info_play .play,
#info_play:not(.in_watch_list) .add,
#info_play.in_watch_list .remove,
#info_play:not(.in_ignore_list) .ignore,
#info_play.in_ignore_list .reactivate {
	display: block;
}

@media (pointer: coarse) {
	ol .play,
	ol .info,
	ol div:not(.in_watch_list) .add,
	ol div.in_watch_list .remove {
		display: block;
	}
}



main.hide_watch_list .add, main.hide_watch_list .remove {
	display: none !important;
}

/* ####################################################################### */
/* Aside */
aside {
	position: sticky;
	z-index: 1;
	top: 60px;
	width: 100%;
	height: var(--aside_height);
	overflow: hidden;
	border-bottom: var(--text-color) solid 1px;
	background-color: var(--aside-background-color);
	backdrop-filter: blur(20px);
	transition: height 0.5s;
}

/* aside.small_screen {
	bottom: 60px;
	border-bottom: none;
	overflow-y: auto;
} */

aside.show_random_episode .aside_content:nth-child(1), 
aside.show_info .aside_content:nth-child(1) {
	display: flex;
}

aside.show_settings .aside_content:nth-child(2), 
aside.show_user_data .aside_content:nth-child(3),
aside.show_list_settings .aside_content:nth-child(4),
aside.show_random_settings .aside_content:nth-child(5) {
	display: block;
}

aside.show_random_episode,
aside.show_info,
aside.show_settings,
aside.show_user_data,
aside.show_list_settings,
aside.show_random_settings {
	overflow: visible;
}

aside.cover_size_hidden, aside.cover_size_hidden *:not(#settings_cover_size) {
	visibility: hidden;
}

aside.cover_size_hidden #settings_cover_size {
	visibility: visible;
}

.aside_content {
	display: none;
	position: relative;
	max-width: 1140px;
	height: var(--aside_padding);
	padding: 40px 0;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: -1;
}

.hide_aside {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 300px;
	padding: 0;
	margin: 0;
}

.hide_aside_mobile {
	display: none;
	position: absolute;
	top: 40px;
	right: 30px;
	width: 41px;
	height: 41px;
	padding: 3px;
	border-radius: 21px;
	background-color: var(--aside-background-color);
	backdrop-filter: blur(20px);
}

.hide_aside_mobile svg {
	width: 35px;
	height: 35px;
	fill: var(--text-color);
}

.hide_aside_pill {
	display: none;
	width: 100%;
	height: 30px;
	position: absolute;
	z-index: 2;
	bottom: 0;
}

.hide_aside_pill::after {
	content: "";
	height: 5px;
	width: 50px;
	border-radius: 3px;
	background-color: var(--text-color);
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}


.small_screen .hide_aside_mobile {
	display: block;
}

.hover_svg:hover svg {
	fill: var(--nav-hover-color);
}

@media (pointer: coarse) and (max-width: 710px) {
	.hide_aside_pill {
		display: block;
	}
}

/* Info Box */
#info_play {
	position: relative;
	margin-right: 50px;
	margin-left: 12px;
}

#info_href img {
	border-radius: 5px;
	width: 260px;
	transition: opacity 0.2s;
}

#info_href:hover img {
	opacity: 60%;
}

#info_play .play {
	cursor: pointer;
	width: 60px;
	height: 60px;
	padding: 15px;
	top: 100px;
	left: 112px;
}

#info_play .add, #info_play .remove {
	top: 210px;
	right: 12px;
}

#info_play .ignore, #info_play .reactivate {
	top: 210px;
	right: 72px;
}

.info_box {
	user-select: text;
	margin-right: 12px;
}

.info_box p {
	overflow-y: auto;
	margin: 0;
	height: var(--description_height);
	margin-top: 12px;
}

.info_data {
	font-size: small;
}

.info_metadata {
	display: inline-block;
	padding-top: 4px;
}

.info_metadata:not(:last-child)::after, .info_history_box {
    content: "-";
    margin-left: 5px;
}

.info_history_box {
	display: inline-block;
}

.info_history_box input {
	width: 70px;
}

.info_history_box svg {
	width: 15px;
	height: 15px;
	fill: var(--text-color);
	fill-opacity: 1;
}

@media (max-width: 710px) {
	aside {
		position: fixed;
	}
	.aside_content {
		flex-direction: column;
	}
	.hide_aside {
		display: none;
	}
	.info_box {
		margin-right: 0;
		padding: 0 20px;
	}
	#info_play {
		margin: 0 auto;
		margin-bottom: 15px;
	}
	#info_href img {
		width: 150px !important;
	}
	#info_play .play {
		top: 80px;
		left: 80px;
	}
	#info_play .add, #info_play .remove {
		top: 50px;
		right: unset;
		left: 12px;
	}
	#info_play .ignore, #info_play .reactivate {
		top: 100px;
		right: unset;
		left: 12px;
	}
}


/* Settings */
.settings_box {
	display: flex;
}

.settings_box > div {
	padding: 0 10px;
	width: calc(50% - 20px);
}

.settings_welcome {
	padding: 10px 20px;
}

.settings_box span {
	display: inline-block;
	padding-bottom: 10px;
}

.settings_center {
	display: flex;
	justify-content: center;
}

.settings_column {
	flex-direction: column;
	gap: 10px;
}

.settings_margin {
	margin-top: 20px;
}

.settings_more_info {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.settings_more_info a {
	margin: 0;
}

.provider_sel img, .provider_sel svg {
	height: 35px;
	padding: 12.5px;
}

.provider_sel span {
	display: inline-block;
	overflow: hidden;
	padding-bottom: 21.5px;
	width: 100px;
	white-space: nowrap;
	transition: width 0.5s ease-in-out;
}

.provider_sel:not(.provider_selected) span {
	width: 0;
}

.provider_sel:not(.provider_selected):not(:hover) svg path {
	fill: var(--provider_color);
}
.provider_sel:not(.provider_selected):not(:hover) svg path.background {
	fill: var(--provider_background);
}

@media (max-width: 506px) {
	aside {
		height: calc(var(--aside_height) - var(--overflow_menu_margin));
	}
	.settings_box {
		display: block;
	}
	.settings_box > div {
		width: unset;
	}
	.user_data_box {
		margin-bottom: 40px;
	}
}