body {
	user-select: none;
}

main, .aside_content {
	max-width: 1140px;
	margin: 20px auto;
}

:root {
	--aside_height: 0;
	--description_height: unset;
	--list_cover_size: 190px;

	--play_button_size: 60px;
	--play_button_top: 130px;
	--play_button_right: 27px;
	--watch_list_button_top: 150px;
	--info_button_top: 102px;
	--small_button_left: 17px;
}

/* ####################################################################### */
/* Episode list */
ol {
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0;
}

ol div {
	position: relative;
}

ol a {
	display: block;
	margin: 12px;
	margin-bottom: 15px;
}

ol img {
	width: var(--list_cover_size);
	border-radius: 5px;
	transition: opacity 0.2s;
}

ol a:hover img {
	opacity: 60%;
}

ol p {
	margin: 8px 0;
	width: var(--list_cover_size);
}

ol span {
	font-weight: bold;
}

.not_found {
	display: none;
	text-align: center;
}

.hide_search, .not_aviable {
	display: none !important;
}

.show_history .no_history,
.show_watch_list div:not(.in_watch_list),
.show_ignore_list div:not(.in_ignore_list) {
	display: none;
}

/* ####################################################################### */
/* On cover buttons */
.control_button {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 100%;
	transition: transform 0.2s;
	width: 40px;
	height: 40px;
	padding: 10px;;
}

.control_button:hover {
	background-color: rgba(0, 0, 0, 0.6);
	transform: scale(1.2);
}

ol .play {
	cursor: pointer;
	width: var(--play_button_size);
	height: var(--play_button_size);
	padding: calc(var(--play_button_size) / 4);
	top: var(--play_button_top); /* 130px */
	right: var(--play_button_right); /* 27px */
}
ol .add, ol .remove {
	top: var(--watch_list_button_top); /* 150px */
	left: var(--small_button_left); /* 17px */
}
ol .info {
	top: var(--info_button_top); /* 102px */
	left: var(--small_button_left); /* 17px */
}

ol div:hover .play,
ol div:hover .info,
ol div:not(.in_watch_list):hover .add,
ol div.in_watch_list:hover .remove,
#info_play .play,
#info_play:not(.in_watch_list) .add,
#info_play.in_watch_list .remove,
#info_play:not(.in_ignore_list) .ignore,
#info_play.in_ignore_list .reactivate {
	display: block;
}

@media (pointer: coarse) {
	ol .play,
	ol .info,
	ol div:not(.in_watch_list) .add,
	ol div.in_watch_list .remove {
		display: block;
	}
}

/* ####################################################################### */
/* Aside */
aside {
	position: sticky;
	z-index: 1;
	right: 0;
	top: 60px;
	height: var(--aside_height);
	overflow: hidden;
	border-bottom: var(--text-color) solid 1px;
	background-color: var(--aside-background-color);
	backdrop-filter: blur(20px);
	transition: height 0.5s;
}

.aside_content {
	display: none;
	position: relative;
	height: calc(100% - 80px);
	padding: 40px 0;
	margin: 0 auto;
	overflow: hidden;
}

.aside_scroll {
	overflow-y: auto;
}

.hide_aside {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 300px;
	padding: 0;
	margin: 0;
}

.hide_aside_mobile {
	display: none;
	position: absolute;
	top: 40px;
	right: 30px;
}

.hide_aside_mobile svg {
	width: 35px;
	height: 35px;
	fill: var(--text-color);
	fill-opacity: 1;
}

.hover_svg:hover svg {
	fill: var(--nav-hover-color);
}

@media (max-width: 682px) {
	.aside_content {
		width: unset;
		flex-direction: column;
		height: calc(100% - 55px);
		padding: 20px;
		padding-bottom: 35px;
	}
}

@media (max-height: 600px) and (max-width: 682px) {
	aside {
		bottom: 60px;
		border-bottom: none;
		overflow-y: auto;
	}
	.hide_aside {
		display: none;
	}
	.hide_aside_mobile {
		display: block;
	}
}

/* Info Box */
#info_play {
	position: relative;
	margin-right: 50px;
	margin-left: 12px;
}

#info_href img {
	border-radius: 5px;
	width: 260px;
	transition: opacity 0.2s;
}

#info_href:hover img {
	opacity: 60%;
}

#info_play .play {
	cursor: pointer;
	width: 60px;
	height: 60px;
	padding: 15px;
	top: 100px;
	left: 112px;
}

#info_play .add, #info_play .remove {
	top: 210px;
	right: 12px;
}

#info_play .ignore, #info_play .reactivate {
	top: 210px;
	right: 72px;
}

.info_box {
	user-select: text;
	margin-right: 12px;
}

.info_box p {
	overflow-y: auto;
	margin: 0;
	height: var(--description_height);
	margin-top: 12px;
}

.info_data {
	font-size: small;
}

.info_metadata {
	display: inline-block;
	padding-top: 4px;
}

.info_metadata:not(:last-child)::after, .info_history_box {
    content: "-";
    margin-left: 5px;
}

.info_history_box {
	display: inline-block;
}

.info_history_box input {
	width: 70px;
}

.info_history_box svg {
	width: 15px;
	height: 15px;
	fill: var(--text-color);
	fill-opacity: 1;
}

@media (max-width: 682px) {
	.info_box {
		margin-right: 0;
	}
	#info_play {
		margin: 0 auto;
		margin-bottom: 15px;
	}
	#info_href img {
		width: 150px !important;
	}
	#info_play .play {
		top: 80px;
		left: 80px;
	}
	#info_play .add, #info_play .remove {
		top: 50px;
		right: unset;
		left: 12px;
	}
	#info_play .ignore, #info_play .reactivate {
		top: 100px;
		right: unset;
		left: 12px;
	}
}

@media (max-height: 600px) and (max-width: 682px) {
	aside {
		bottom: 60px;
		border-bottom: none;
		overflow-y: auto;
	}
	.hide_aside {
		display: none;
	}
	.hide_aside_mobile {
		display: block;
	}
}


/* Settings */
.settings_box {
	display: flex;
}

.settings_box > div {
	padding: 0 10px;
	width: calc(50% - 20px);
}

.settings_box span {
	display: inline-block;
	padding-bottom: 10px;
}

.settings_center {
	display: flex;
	justify-content: center;
}

.settings_box .settings_center {
	flex-direction: column;
	gap: 10px;
}

.settings_ignored {
	margin-top: 20px;
}

.settings_more_info {
	margin-top: 20px;
	margin-bottom: 30px;
}

.provider_sel {
	height: 60px;
}

.provider_sel img, .provider_sel svg {
	height: 35px;
	padding: 12.5px;
}

.provider_sel span {
	display: inline-block;
	overflow: hidden;
	padding-bottom: 21.5px;
	width: 100px;
	white-space: nowrap;
	transition: width 0.5s ease-in-out;
}

.provider_sel:not(.provider_selected) span {
	width: 0;
}

.provider_sel:not(.provider_selected):not(:hover) svg path {
	fill: var(--provider_color);
}
.provider_sel:not(.provider_selected):not(:hover) svg path.background {
	fill: var(--provider_background);
}

.switch_box {
	margin-top: 20px;
}

@media (max-width: 458px) {
	.settings_box {
		display: block;
	}
	.settings_box > div {
		padding: 0 10px;
		max-width: 450px;
		width: unset;
		margin: 0 auto;
	}
	.create_account, .manage_account {
		margin-top: 40px !important;
	}
}

@media (max-width: 403px) {
	.switch_box {
		margin-top: 40px;
	}
}