@font-face {
	font-family: roboto;
	src: url(roboto.ttf);
	font-weight: normal;
}

@font-face {
	font-family: mohave;
	src: url(mohave.ttf);
	font-weight: normal;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #030303;
		--text-color: #CCCCCC;
		--nav-hover-color: #333333;
		--nav-focus-color: #1C1C1C;
		--aside-background-color: rgba(0, 0, 0, 0.8);
	}
	.active_white.nav_active svg, .active_red.nav_active svg, .active_blue.nav_active svg {
		fill: var(--nav-hover-color) !important;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f7f7f7;
		--text-color: #111111;
		--nav-hover-color: #e4e4e4;
		--nav-focus-color: white;
		--aside-background-color: #f7f7f7;
	}
}

:root {
	--watch_list: block;
}

html {
	height: 100%;
	min-width: 310px;
}

body {
	font-size: 14px;
	color: var(--text-color);
	font-family: roboto;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	min-height: 100%;
	user-select: none;
}

main, .aside_content {
	width: 1120px;
	margin: 0 auto;
}

h1 {
	font-family: mohave;
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

.center {
	text-align: center;
}

a:link, a:visited, a:link:active, a:visited:active {
	color: inherit;
	text-decoration: none;
}
  
a:hover {
	text-decoration: underline;
}

button, input {
	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
	color: inherit;
}

button:focus, input:focus {
	outline: none;
}

.border_button {
	color: inherit;
	background-color: var(--background-color);
	border: var(--text-color) solid 1px;
	border-radius: 5px;
	/* margin: 0 20px; */
	margin: 0 auto;
	padding: 0 20px;
	height: 30px;
}

.border_button:hover {
	background-color: var(--nav-hover-color);
}

@media (max-width: 1240px) { main, .aside_content { width: 896px; } }
@media (max-width: 906px) { main, .aside_content { width: 672px; } }
@media (max-width: 682px) { main, .aside_content { width: 448px; } }
@media (max-width: 458px) { main, .aside_content { width: 288px; } }

/* ####################################################################### */
/* img play box */
.img_play_box img {
	transition: opacity 0.2s;
}

.control_button {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 100%;
	transition: transform 0.2s;
	width: 40px;
	height: 40px;
	padding: 10px;
}

.control_button:hover {
	background-color: rgba(0, 0, 0, 0.6);
	transform: scale(1.2);
}

.img_play_box:hover img {
	opacity: 60%;
}

.img_play_box:hover .control_button {
	display: block;
}

@media (pointer: coarse) {
	.play,
	.info,
	ol div:not(.in_watch_list) .add,
	ol div.in_watch_list .remove {
		display: block;
	}
}


/* ####################################################################### */
/* Episode list */
ol {
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

ol div {
	margin: 12px;
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}

ol.show_watch_list div {
	display: none;
}

ol img {
	width: 200px;
	border-radius: 5px;
}

ol a {
	display: block;
}

ol p {
	margin: 8px 0;
	width: 200px;
}

ol span {
	font-weight: bold;
}

.add, .remove {
	top: 145px;
	left: 5px;
}

.info {
	top: 90px;
	left: 5px;
}

.play {
	cursor: pointer;
	top: 125px;
	right: 15px;
	width: 60px;
	height: 60px;
	padding-left: 18px;
	padding-top: 12px;
}

ol div:hover .play,
ol div:hover .info,
ol div:not(.in_watch_list):hover .add,
ol div.in_watch_list:hover .remove {
	display: block;
}

.not_found {
	display:none;
	text-align: center;
}

.in_watch_list {
	display: block !important;
}

.hide_search, .not_aviable, .show_history .no_history, .show_mobile {
	display: none !important;
}

/* ####################################################################### */
/* Aside */
aside {
	position: sticky;
	z-index: 1;
	right: 0;
	top: 60px;
	height: 0;
	overflow: hidden;
	border-bottom: var(--text-color) solid 1px;
	background-color: var(--aside-background-color);
	backdrop-filter: blur(20px);
	transition: height 0.5s;
}

.aside_content {
	display: none;
	position: relative;
	height: calc(100% - 80px);
	padding: 40px 0;
	overflow: hidden;
}

.hide_aside {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 300px;
	padding: 0;
	margin: 0;
}

/* Info Box */
aside .img_play_box img {
	border-radius: 5px;
	width: 260px;
	margin-right: 50px;
	margin-left: 12px;
}

aside .play {
	top: 140px;
	right: unset;
	left: 112px;
}


.info_description {
	user-select: text;
	margin-right: 12px;
}

.info_description p {
	overflow-y: auto;
	margin: 0;
	height: 150px;
	margin-top: 12px;
}

.info_description header {
	font-size: small;
	display: flex;
}

#info_panel, .placeholder {
	padding-top: 4px;
}

.info_description svg {
	width: 15px;
	height: 15px;
	fill: var(--text-color);
	fill-opacity: 1;
}

.info_description input {
	width: 70px;
}

.info_description svg:hover {
	fill: var(--nav-hover-color);
}

aside .img_play_box img {
	border-radius: 5px;
	width: 260px;
	margin-right: 50px;
	margin-left: 12px;
}

aside .play {
	top: 140px;
	right: unset;
	left: 112px;
}

/* Settings */
.settings_box {
	display: flex;
	margin-top: 30px;
}

.settings_box > div {
	padding: 0 10px;
	width: calc(50% - 20px);
}

.settings_center {
	display: flex;
	justify-content: center;
}

.settings_box .settings_center {
	flex-direction: column;
	gap: 10px;
}

.settings_text {
	margin-top: 30px;
}

.provider_sel {
	height: 60px;
}

.provider_sel img {
	height: 35px;
	padding: 12.5px;
}

.provider_sel span {
	display: inline-block;
	overflow: hidden;
	padding-bottom: 21.5px;
	width: 100px;
	white-space: nowrap;
	transition: width 0.5s ease-in-out;
}

.provider_sel:not(.provider_selected) span {
	width: 0;
}

.provider_sel:not(.provider_selected):not(:hover) img {
	filter: grayscale(100%);
}

/* Switches */
.switch_box {
	margin-top: 20px;
}

.switch input {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 270px;
	margin: 5px 0;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 20px;
	border: 1px solid var(--text-color);
	border-radius: 26px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: var(--text-color);
	transition: left 0.1s;
	border-radius: 50%;
}

.slider_text {
	display: inline-block;
	padding-top: 4.5px;
	padding-left: 50px;
}

input:checked + .slider {
	width: 42px;
	height: 22px;
	background-color: #02abeb;
	border: none;
}

input:checked + .slider:before {
	left: calc(42px - 16px - 3px);
	bottom: 3px;
}

@media (max-width: 906px) {
	.placeholder {
		display: none;
	}
	header {
		flex-direction: column;
	}
}

@media (max-width: 682px) {
	.aside_content {
		width: unset;
		flex-direction: column;
		height: calc(100% - 55px);
		padding: 20px;
		padding-bottom: 35px;
	}
	.info_description {
		margin-right: 0;
	}
	aside .img_play_box img {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
		width: 150px;
	}
	aside .play {
		top: 110px;
		right: unset;
		left: calc(100% / 2 + 15px);
	}
	.placeholder {
		display: block;
	}
	header {
		flex-direction: row;
	}
}

@media (max-width: 458px) {
	ol img {
		width: 264px;
	}
	ol p {
		width: 264px;
	}
	.add, .remove, .info {
		background-color: black;
		top: 200px;
		left: 15px;
		width: 50px;
		height: 50px;
	}
	
	.info {
		top: 130px;
	}
	
	.play {
		top: 200px;
		right: 15px;
		width: 50px;
		height: 50px;
		padding-left: 15px;
		padding-top: 12px;
	}
	.placeholder {
		display: none;
	}
	header {
		flex-direction: column;
	}

	.settings_box {
		display: block;
	}
	.settings_box > div {
		padding: 0 10px;
		max-width: 450px;
		width: unset;
		margin: 0 auto;
	}
	.create_account, .manage_account {
		margin-top: 40px !important;
	}
}

@media (max-width: 403px) {
	.switch_box {
		margin-top: 40px;
	}
}

/* ####################################################################### */
/* Navbar */
nav {
	padding-right: calc((100% - 1120px)/2);
	padding-left: calc((100% - 1120px)/2);
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--background-color);
	border-bottom: var(--text-color) solid 1px;
	overflow: hidden;
}

/* Button */
.nav_buttons {
	display: flex;
	transition: height 0.2s;
	align-items: flex-end;
	float: right;
}

.nav_home {
	color: inherit;
	text-decoration: none;
	float: left;
	padding: 17.5px 16px;
	margin-right: 10px;
}

.nav_button {
	display: flex;
	position: static;
	height: 30px;
	font-size: 17px;
	padding: 15px 16px;
}

.nav_button:hover {
	background-color: var(--nav-hover-color);
	outline: none;
	color: var(--text-color);
	text-decoration: none;
}

.nav_button svg, .nav_button:hover svg {
	height: 30px;
	width: 30px;
	fill: var(--text-color);
	fill-opacity: 1;
}

.active_white.nav_active {
	background-color: #dadada;
}
.active_red.nav_active {
	background-color: #e91b24;
}
.active_blue.nav_active {
	background-color: #02abeb;
}

.nav_search {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
}

.nav_search_box {
	width: 290px;
	background: var(--background-color);
	padding: 9px 0;
	padding-right: 20px;
}

#site_search {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	background: var(--nav-hover-color) url('../nav/search.svg') 10px 7px/27px no-repeat;
	padding: 12px 20px 12px 45px;
	margin: 0;
	color: var(--text-color);
}

#site_search:focus:hover, #site_search:focus, #site_search:hover {
	outline: none;
	border-radius: 4px;
	background-color: var(--nav-focus-color);
}


/* Footer */
footer {
	margin-top: auto;
	height: 60px;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	text-align: center;
	border-top: var(--text-color) solid 1px;
}

footer img {
	height: 14px;
	width: 14px;
	vertical-align: top;
}

.footer_flex {
	display: flex;
	justify-content: space-between;
}

.footer_links {
	display: flex;
}

.footer_links a:not(:last-child) {
	margin-right: 40px;
}

@media (max-width: 710px) {
	.nav_buttons {
		display: flex;
		justify-content: center;
		height: 60px;
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 2;
		background-color: var(--background-color);
		border-top: var(--text-color) solid 1px;
		overflow: hidden;

	}
	.nav_search {
		margin-right: 186px;
		top: unset;
		bottom: 0;
	}
	.nav_search_box {
		width: 270px;
		padding: 9px 20px;
	}
	footer {
		height: 120px;
	}
}

@media (max-width: 530px) {
	footer {
		height: 160px;
		padding: 0;
		padding-top: 15px;
	}
	.footer_flex {
		flex-direction: column-reverse;
	}
	.footer_links {
		justify-content: center;
	}
}

@media (max-width: 506px) {
	.nav_buttons:not(.overflow_menu) .hide_mobile {
		display: none !important;
	}
	.overflow_menu .hide_mobile {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: calc((100% - 310px)/2);
	}
	.show_mobile {
		display: flex !important;
	}
	.nav_search {
		margin-right: 62px;
	}
	.nav_search_box {
		width: calc(100vw - 102px);
		padding: 9px 20px;
	}
	.overflow_menu {
		height: 120px;
		/* padding-left: calc((100% - 310px)/2);
		padding-right: calc((100% - 310px)/2); */
	}
	.active_white.nav_active {
		background-color: #e91b24;
	}
	.active_red.nav_active {
		background-color: #02abeb;
	}
	.active_blue.nav_active {
		background-color: #dadada;
	}
}