@font-face {
	font-family: roboto;
	src: url(roboto.ttf);
	font-weight: normal;
}

@font-face {
	font-family: mohave;
	src: url(mohave.ttf);
	font-weight: normal;
}

:root {
	--watch_list: block;
}

html {
	height: 100%;
}

body {
	font-size: 14px;
	color: #CCCCCC;
	font-family: roboto;
	background-color: #030303;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	min-height: 100%;
	user-select: none;
}

main, .aside_content {
	width: 1120px;
	margin: 0 auto;
}

h1 {
	font-family: mohave;
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

/* .sidebar_active main, aside {
	display: none;
} */

/* .sidebar_active aside {
	display: block;
} */

footer {
	margin-top: auto;
	height: 100px;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	text-align: center;
	display: flex;
	border-top: #CCCCCC solid 1px;
}

@media (max-width: 1240px) { main, .aside_content { width: 896px; } }
@media (max-width: 906px) { main, .aside_content { width: 672px; } }
@media (max-width: 682px) { main, .aside_content { width: 448px; } }
@media (max-width: 458px) { main, .aside_content { width: 224px; } }

/* @media (max-width: 1240px) { .sidebar_active main { width: 896px; } }
@media (max-width: 906px) { .sidebar_active main { width: 672px; } }
@media (max-width: 682px) { .sidebar_active main { width: 448px; } }
@media (max-width: 458px) { .sidebar_active main { width: 224px; } } */

/* ####################################################################### */
/* img play box */
.img_play_box img {
	transition: opacity 0.2s;
}

.control_button {
	display: none;
	position: absolute;
	appearance: none;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 100%;
	transition: transform 0.2s;
	width: 40px;
	height: 40px;
	padding: 10px;
}

.control_button:hover {
	background-color: rgba(0, 0, 0, 0.6);
	transform: scale(1.2);
}

.img_play_box:hover img {
	opacity: 60%;
}

.img_play_box:hover .control_button {
	display: block;
}


/* ####################################################################### */
/* Episode list */
ol {
	padding: 0;
	display: flex;
	/* justify-content: center; */
	/* flex-flow: row-reverse wrap-reverse; */
	flex-flow: row wrap;
}

ol div {
	cursor: auto;
	display: var(--watch_list);
	margin: 12px;
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}

ol a:link, ol a:visited, ol a:link:active, ol a:visited:active {
	display: block;
	color: inherit;
	text-decoration: none;
}
  
ol a:hover {
	text-decoration: underline;
}

ol img {
	width: 200px;
	border-radius: 5px;
}

ol p {
	margin: 8px 0;
	width: 200px;
}

ol span {
	font-weight: bold;
}

.add, .remove {
	top: 145px;
	left: 5px;
}

.info {
	top: 90px;
	left: 5px;
}

.play {
	top: 125px;
	right: 15px;
	width: 60px;
	height: 60px;
	padding-left: 18px;
	padding-top: 12px;
}

ol div:hover .play,
ol div:hover .info,
ol div:not(.in_watch_list):hover .add,
ol div.in_watch_list:hover .remove {
	display: block;
}

/* ####################################################################### */
/* aside */
aside {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	width: 100vw;
	/* height: calc(100vh - 100px);
	max-height: 700px; */
	height: 400px;
	border-bottom: #CCCCCC solid 1px;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(20px);
	transition: height 0.5s;
}

.aside_content {
	display: flex;
	position: relative;
	margin-top: 100px;
}

aside img {
	border-radius: 5px;
	width: 264px;
	margin-right: 50px;
}

aside p {
	overflow-y: auto;
}

aside .play {
	top: 102px;
	right: unset;
	left: 102px;
}

.hide_aside {
	position: absolute;
	appearance: none;
	color: inherit;
	background-color: #030303;
	border: #CCCCCC solid 1px;
	border-radius: 5px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 300px;
	height: 30px;
}


/* ####################################################################### */
/* Navbar */
nav {
	padding-right: 15%;
	padding-left: 15%;
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #030303;
	border-bottom: #CCCCCC solid 1px;
	overflow: hidden;
}

@media (max-width: 1600px) {
	nav {
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media (max-width: 1350px) {
	nav {
		padding-right: 10px;
		padding-left: 10px;
	}
}


/* Provider Selection */
.provider_list {
	display: flex;
	justify-content: center;
	width: 400px;
}

.provider_sel {
	height: 60px;
	cursor: pointer;
}

.provider_sel img {
	height: 35px;
	padding: 12.5px;
}

.provider_sel span {
	display: inline-block;
	overflow: hidden;
	padding-bottom: 21.5px;
	width: 100px;
	white-space: nowrap;
	transition: width 0.5s ease-in-out;
}

.provider_sel:not(.provider_selected) span {
	width: 0;
}

.provider_sel:not(.provider_selected):not(:hover) img {
	filter: grayscale(100%);
}

/* Button */
.nav_buttons {
	display: flex;
	float: right;
}

.nav_button {
	float: right;
	font-size: 17px;
	padding: 15px 16px;
	display: flex;
	cursor: pointer;
}

.nav_button:hover, .nav_button:focus {
	background-color: #333333;
	outline: none;
	color: #CCCCCC;
}

.nav_button img {
	height: 30px;
}

.nav_home {
	color: inherit;
	text-decoration: none;
	float: left;
	float: left;
	padding: 17.5px 16px;
	margin-right: 40px;
}

/* Navbar Search */
.nav_search input {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	background: #333333 url('../nav/search.svg') 10px 7px/27px no-repeat;
	padding: 12px 20px 12px 45px;
	margin: 0;
	color: #CCCCCC;
}

.nav_search input:focus:hover, .nav_search input:focus, .nav_search input:hover {
	outline: none;
	border-radius: 4px;
	background-color: #1C1C1C;
}

/* Search Mobile */
.nav_search {
	justify-content: center;
	display: none;
	width: 500px;
	height: 60px;
	position: fixed;
	background: #030303;
	z-index: 3;
	padding: 0;
	right: 0;
	top: 0;
}
.nav_search_box {
	width: calc(100% - 60px);
	margin-right: 60px;
	margin-top: 9px;
}

.nav_search_button {
	display: block;
	height: 60px;
	width: 60px;
	padding: 0;
	z-index: 4;
	background: transparent url('../nav/search.svg') center/30px no-repeat;
}

.nav_search_button + label::before {
	display: none;
}

#nav_search_button:checked ~ .nav_search {
	display: flex;
}

#nav_search_button:checked ~ .nav_search_button {
	position: fixed;
	right: 0;
	top: 0;
	background: transparent url('../nav/close.svg') center/30px no-repeat;
}

.in_watch_list {
	display: block !important;
}

.hide_search, .not_aviable {
	display: none !important;
}