@font-face {
	font-family: roboto;
	src: url(../graphics/roboto.ttf);
	font-weight: normal;
}

@font-face {
	font-family: mohave;
	src: url(../graphics/mohave.ttf);
	font-weight: normal;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #030303;
		--text-color: #CCCCCC;
		--background-text: #808080;
		--nav-hover-color: #333333;
		--nav-focus-color: #1C1C1C;
		--aside-background-color: rgba(0, 0, 0, 0.8);
		--provider_color: #CCCCCC;
		--provider_background: #111111;

		--search_svg: url('../graphics/search_light.svg');
	}
	.active_white.nav_active svg, .active_red.nav_active svg, .active_blue.nav_active svg {
		fill: var(--nav-hover-color) !important;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f7f7f7;
		--text-color: #111111;
		--background-text: #e4e4e4;
		--nav-hover-color: #e4e4e4;
		--nav-focus-color: white;
		--aside-background-color: #f7f7f7;
		--provider_color: #111111;
		--provider_background: white;

		--search_svg: url('../graphics/search_dark.svg');
	}
}

:root {
	--aside_height: 0;
	--description_height: unset;
}

html {
	height: 100%;
	min-width: 310px;
}

body {
	font-size: 14px;
	color: var(--text-color);
	font-family: roboto;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	min-height: 100%;
}

h1 {
	font-family: mohave;
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

.center {
	text-align: center;
}

a:link, a:visited, a:link:active, a:visited:active {
	color: inherit;
	text-decoration: none;
}

.visible_links a:link, .visible_links a:visited, .visible_links a:link:active, .visible_links a:visited:active {
	text-decoration: underline var(--background-text);
}
  
a:hover, .visible_links a:hover {
	text-decoration: underline;
}

details {
	overflow: hidden;
	background-color: var(--nav-focus-color);
	border-radius: 5px;
	margin-bottom: 15px;
	transition: max-height 0.2s;
}

details > * {
	padding: 10px 15px;
}

summary {
	display: block !important;
	background-color: var(--nav-hover-color);
	border-radius: 5px;
	position: relative;
	user-select: none;
}

summary::after {
	content: "+";
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 6.5px;
	right: 15px;
}

.active summary::after {
	content: "−";
}

details:not(.active) *:not(summary) {
	display: none;
}

button, input {
	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
	color: inherit;
}

button:focus, input:focus {
	outline: none;
}

.border_button {
	display: inline-block;
	box-sizing: border-box;
	color: inherit;
	background-color: var(--background-color);
	border: var(--text-color) solid 1px;
	border-radius: 5px;
	/* margin: 0 20px; */
	margin: 0 auto;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
}

.border_button:hover {
	text-decoration: none;
	background-color: var(--nav-hover-color);
}

.border_input {
	display: inline-block;
	box-sizing: border-box;
	color: inherit;
	background-color: var(--background-color);
	border: var(--text-color) solid 1px;
	border-radius: 5px;
	/* margin: 0 20px; */
	margin: 0 auto;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
}

/* ####################################################################### */
/* Switches */
.switch input {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 270px;
	margin: 5px 0;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 20px;
	border: 1px solid var(--text-color);
	border-radius: 26px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: var(--text-color);
	transition: left 0.1s;
	border-radius: 50%;
}

.slider_text {
	display: inline-block;
	padding-top: 4.5px;
	padding-left: 50px;
}

input:checked + .slider {
	width: 42px;
	height: 22px;
	background-color: #02abeb;
	border: none;
}

input:checked + .slider:before {
	left: calc(42px - 16px - 3px);
	bottom: 3px;
}

/* ####################################################################### */
/* Navbar */
nav {
	padding-right: calc((100% - 1120px)/2);
	padding-left: calc((100% - 1120px)/2);
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--background-color);
	border-bottom: var(--text-color) solid 1px;
	overflow: hidden;
}

/* Button */
.nav_buttons {
	display: flex;
	transition: height 0.2s;
	align-items: flex-end;
	float: right;
}

.nav_home {
	color: inherit;
	text-decoration: none;
	float: left;
	padding: 17.5px 16px;
	margin-right: 10px;
}

.nav_button {
	display: flex;
	position: static;
	height: 30px;
	font-size: 17px;
	padding: 15px 16px;
}

.nav_button:hover {
	background-color: var(--nav-hover-color);
	outline: none;
	color: var(--text-color);
	text-decoration: none;
}

.nav_button svg, .nav_button:hover svg {
	height: 30px;
	width: 30px;
	fill: var(--text-color);
	fill-opacity: 1;
}

.active_white.nav_active {
	background-color: #dadada;
}
.active_red.nav_active {
	background-color: #e91b24;
}
.active_blue.nav_active {
	background-color: #02abeb;
}

.nav_search {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
}

.nav_search_box {
	width: 290px;
	background: var(--background-color);
	padding: 9px 0;
	padding-right: 20px;
}

#site_search {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	background: var(--nav-hover-color) var(--search_svg) 10px 7px/27px no-repeat;
	padding: 12px 20px 12px 45px;
	margin: 0;
	color: var(--text-color);
}

#site_search:focus:hover, #site_search:focus, #site_search:hover {
	outline: none;
	border-radius: 4px;
	background-color: var(--nav-focus-color);
}


/* ####################################################################### */
/* Footer */
footer {
	margin-top: auto;
	height: 60px;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	text-align: center;
	border-top: var(--text-color) solid 1px;
}

footer svg {
	height: 14px;
	width: 14px;
	vertical-align: top;
	fill: var(--text-color);
}

.footer_flex {
	display: flex;
	justify-content: space-between;
}

.footer_links {
	display: flex;
}

.footer_links a:not(:last-child) {
	margin-right: 40px;
}

.show_mobile {
	display: none !important;
}

@media (max-width: 710px) {
	.nav_buttons {
		display: flex;
		justify-content: center;
		height: 60px;
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 2;
		background-color: var(--background-color);
		border-top: var(--text-color) solid 1px;
		overflow: hidden;

	}
	.nav_search {
		margin-right: 186px;
		top: unset;
		bottom: 0;
	}
	.nav_search_box {
		width: 270px;
		padding: 9px 20px;
	}
	footer {
		height: 120px;
	}
}

@media (max-width: 530px) {
	footer {
		height: 160px;
		padding: 0;
		padding-top: 15px;
	}
	.footer_flex {
		flex-direction: column-reverse;
	}
	.footer_links {
		justify-content: center;
	}
}

@media (max-width: 506px) {
	.nav_buttons:not(.overflow_menu) .hide_mobile {
		display: none !important;
	}
	.overflow_menu .hide_mobile {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: calc((100% - 310px)/2);
	}
	.show_mobile {
		display: flex !important;
	}
	.nav_search {
		margin-right: 62px;
	}
	.nav_search_box {
		width: calc(100vw - 102px);
		padding: 9px 20px;
	}
	.overflow_menu {
		height: 120px;
		/* padding-left: calc((100% - 310px)/2);
		padding-right: calc((100% - 310px)/2); */
	}
	.active_white.nav_active {
		background-color: #e91b24;
	}
	.active_red.nav_active {
		background-color: #02abeb;
	}
	.active_blue.nav_active {
		background-color: #dadada;
	}
}